/****************************
COLOR PALETTE:
Dark Pink: #c3197f
Light Pink: #e05f98
Yellow : #ffff00
Blue: #01a1dd
Purple: #a14fa4
Black: #2c2423
****************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
  font-size: 62.5%; /*** 10/16 = 62.5% | This defines what 1 rem is; | 1 rem = 10px ***/
}

body{
  font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

/****************************
          KEYFRAMES
****************************/

/* HEADER ANIMATIONS***************************/
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}


@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
/* ASIDE ANIMATIONS***************************/
.animate__backInLeft {
  --animate-duration: 1.2s;
}

/****************************
          HEADER
****************************/

.landing_header{
  background-image: url('/images/header-background.jpg');
  background-color: #e05f98;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.header{
	background-image: url('/images/header-background.jpg');
  background-color: #e05f98;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
	padding-bottom: 3%;
}

.landing_site-logo{
  max-width: 40%;
  display: block;
  margin: 0 auto;
  padding: 5% 0;
}

.site-logo{
  max-width: 40%;
  display: block;
  margin: 0 auto;
  padding: 5% 0;
}

.navigation ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  font: 400 2.5rem 'Staatliches', cursive;
  letter-spacing: 0.1rem;
  padding-bottom: 2%;
}

.navigation ul li a:link,
.navigation ul li a:visited{
  text-decoration: none;
  color: #2c2423;
}

.navigation ul li:not(:last-child){
  margin-right: 15%;
}

.hover_skew--forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hover_skew--forward:hover,
.hover_skew--forward:focus,
.hover_skew--forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.landing_header-image{
  max-width: 70%;
  margin-bottom: -20px;
}

.header-image{
	display: none;
}

/****************************
      		 MAIN
****************************/

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #c3197f;
}

.site-content>*:not(:last-child){
	margin-bottom: 5%;
}

.eclipse{
	width: 250px;
	height: 300px;
	margin-top: 5%;
	background: #01a1dd;
	border-radius: 50%;
	background-image: url('/images/lizzie-mcguire.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.article{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.article p{
	padding: 5%;
}

.aside{
	width: 100%;
	color: yellow;
	font: 400 2.5rem 'Staatliches', cursive;
	letter-spacing: 0.1rem;
	padding: 3%;
	background: #01a1dd;
}

.quote{
	display: block;
	margin: 0 auto;
	padding: 5%;
	max-width: 55rem;
}

.quote--from {
    text-align: right;
}

.lm--jump{
	display: block;
	margin: 0 auto;
	max-width: 60%;
}
/****************************
      		 FOOTER
****************************/

.footer {
  display: flex;
  flex-direction: column;
	align-items: center;
	background: #2c2423;
	padding: 3% 0;
}

.footer>*{
	padding: 5% 0;
}

.footer_site-logo{
	max-width: 45%;
}

.group-logo{
	width: 50%;
}

.footer-links ul{
  display: flex;
	flex-direction: column;
	align-items: center;
  list-style-type: none;
  font: 400 2.5rem 'Staatliches', cursive;
  letter-spacing: 0.1rem;
  padding-bottom: 2%;
}

.footer ul li a:link,
.footer ul li a:visited{
  text-decoration: none;
  color: white;
}

.footer ul li:not(:last-child){
  margin-bottom: 15%;
}

/****************************
        MEDIA QUERIES
****************************/

/******** START MIN-WIDTH 414px ********/
@media (min-width: 414px){
  .navigation ul{
    padding-bottom: 5%;
  }

  .landing_landing_site-logo{
      max-width: 35%;
  }
}
/******** END MIN-WIDTH 414px ********/


/******** START MIN-WIDTH 414px ********/
@media (min-width: 600px){
  .landing_landing_site-logo{
      max-width: 32%;
  }
  .landing_header-image{
    max-width: 75%;
    margin-bottom: -20px;
  }
}
